{% extends 'base.html' %}

{% block content %}

<div style="
display:flex;
justify-content:center;
align-items:center;
height:80vh;
">

    <div class="glass-box"
         style="
         width:450px;
         ">

        <h1 style="
        text-align:center;
        margin-bottom:30px;
        ">

            Book Flight

        </h1>

        <h2 style="margin-bottom:20px;">

            {{ flight.flight_name }}

        </h2>

        <p>
            {{ flight.source }}
            →
            {{ flight.destination }}
        </p>

        <p style="margin-bottom:20px;">

            Price:
            ₹{{ flight.price }}

        </p>

        <form method="POST">

            {% csrf_token %}

            <input type="text"
                   name="passenger_name"
                   placeholder="Enter Name"
                   required
                   style="
                   width:100%;
                   padding:12px;
                   margin-bottom:20px;
                   border:none;
                   border-radius:10px;
                   ">

            <input type="email"
                   name="passenger_email"
                   placeholder="Enter Email"
                   required
                   style="
                   width:100%;
                   padding:12px;
                   margin-bottom:20px;
                   border:none;
                   border-radius:10px;
                   ">

            <button type="submit"
                    style="
                    width:100%;
                    padding:12px;
                    border:none;
                    border-radius:10px;
                    background:black;
                    color:white;
                    font-size:18px;
                    ">

                Confirm Booking

            </button>

        </form>

    </div>

</div>

{% endblock %}