{% extends 'base.html' %}

{% block content %}

<div style="text-align:center; margin-top:30px;">

    <h1 style="
    color:#00e5ff;
    font-size:45px;
    margin-bottom:30px;
    ">
        Booking History
    </h1>

    {% if bookings %}
        <div style="
        display:flex;
        flex-wrap:wrap;
        justify-content:center;
        gap:25px;
        ">
        {% for booking in bookings %}

        <div class="glass-box"
             style="
             width:350px;
             padding:25px;
             ">

            <h2 style="
            color:gold;
            margin-bottom:15px;
            ">
                {{ booking.flight.flight_name }}
            </h2>

            <p style="font-size:20px;">
                {{ booking.flight.source }}
                ✈
                {{ booking.flight.destination }}
            </p>

            <hr>

            <p>
                <strong>Passenger:</strong>
                {{ booking.passenger_name }}
            </p>
            <p>
                <strong>Email:</strong>
                {{ booking.passenger_email }}
            </p>
            <p>
                <strong>Travel Date:</strong>
                {{ booking.travel_date }}
            </p>
            <p>
                <strong>Departure:</strong>
                {{ booking.flight.departure_time }}
            </p>
            <p>
                <strong>Arrival:</strong>
                {{ booking.flight.arrival_time }}
            </p>
            <p>
                <strong>Price:</strong>
                ₹{{ booking.flight.price }}
            </p>
            <p style="
            color:#00e5ff;
            font-weight:bold;
            font-size:22px;
            ">
                Ticket ID:
                SKY{{ booking.id }}2025
            </p>

            {% if booking.status == "Confirmed" %}
            <p style="
            color:#00ff99;
            font-weight:bold;
            font-size:18px;
            ">
            ✓ Confirmed

            </p>
            {% else %}
            <p style="
            color:red;
            font-weight:bold;
            font-size:18px;
            ">
            ❌ Cancelled
            </p>

            {% endif %}
            <p>
                <strong>Booked On:</strong>
                {{ booking.booking_date|date:"d M Y" }}
            </p>
            
            {% if booking.status == "Confirmed" %}
            <a href="{% url 'download_ticket' booking.id %}"
               style="
               display:inline-block;
               margin-top:15px;
               padding:12px 25px;
               background:#00e5ff;
               color:black;
               text-decoration:none;
               border-radius:10px;
               font-weight:bold;
               ">
                📄 Download Ticket
            </a>
            {% endif %}

            {% if booking.status == "Confirmed" %}
            <br><br>
            <a href="{% url 'cancel_booking' booking.id %}"
            onclick="return confirm('Are you sure you want to cancel this booking?')"
                style="
                display:inline-block;
                padding:12px 20px;
                background:red;
                color:white;
                text-decoration:none;
                border-radius:10px;
                font-weight:bold;
                ">
                Cancel Booking

            </a>

            {% endif %}
        </div>

        {% endfor %}
        </div>
        {% else %}

        <div class="glass-box"
             style="
             width:500px;
             margin:auto;
             padding:25px;
             ">
            <h2 style="color:white;">
                No Bookings Found
            </h2>
            <p>
                You haven't booked any flights yet.
            </p>
        </div>
    {% endif %}
</div>
{% endblock %}