{% extends 'base.html' %}

{% block content %}

<h1 style="
text-align:center;
margin-bottom:50px;
font-size:55px;
color:#f7f7fa;
font-weight:bold;
letter-spacing:2px;
">

    Welcome to SkyConnect Airways ✈️

</h1>

<form method="GET"
      style="
      text-align:center;
      margin-bottom:40px;
      ">

    <input type="text"
           name="source"
           placeholder="Enter Source"
           style="
           padding:12px;
           width:220px;
           border:none;
           border-radius:10px;
           margin-right:10px;
           ">

    <input type="text"
           name="destination"
           placeholder="Enter Destination"
           style="
           padding:12px;
           width:220px;
           border:none;
           border-radius:10px;
           margin-right:10px;
           ">

    <button type="submit"
            style="
            padding:12px 20px;
            border:none;
            border-radius:10px;
            background:black;
            color:white;
            font-size:16px;
            ">

        Search Flights

    </button>

</form>

<div style="
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:30px;
">

    {% for flight in flights %}

    <div class="glass-box" style="width:300px; text-align:center;">

        <h2 style="
        color:#070600;
        font-size:30px;
        margin-bottom:15px;
        ">

        {{ flight.flight_name }}

        </h2>

        <p>
            {{ flight.source }} to {{ flight.destination }}
        </p>

        <p>
            Departure:
            {{ flight.departure_time }}
        </p>

        <p>
            Arrival:
            {{ flight.arrival_time }}
        </p>

        <p>
            Available Seats:            
            {{ flight.available_seats }}            
        </p>

        <p>Price: ₹{{ flight.price }}</p>

        <a href="/book/{{ flight.id }}/"
           style="
           display:inline-block;
           margin-top:15px;
           padding:10px 20px;
           background:black;
           color:white;
           text-decoration:none;
           border-radius:10px;
           ">

           Book Now

        </a>

    </div>

    {% endfor %}

</div>

{% endblock %}