<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Management System</title>
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="#">Flights</a>
        <a href="#">Booking History</a>
        <a href="#">Login</a>
    </nav>
    <hr>
    <h1>Available Flights</h1>
    {% for flight in flights %}
        <h3>{{ flight.flight_name }}</h3>
        <p>
            {{flight.source}} to {{flight.destination}} 
        </p>
        <p>Date: {{flight.date}}</p>
        <p>Time: {{flight.time}}</p>
        <p>Price: ₹{{flight.price}}</p>
        <a href="/book/{{ flight.id }}">Book Now</a>
        <hr>
    {% endfor %}
</body>
</html>