{% extends 'base.html' %}

{% block content %}

<h1 style="text-align:center; margin-bottom:50px;">

    Welcome to Flight Management System

</h1>

<div style="
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:30px;
">

    {% for flight in flights %}

    <div class="glass-box" style="width:300px; text-align:center;">

        <h2>{{ flight.flight_name }}</h2>

        <p>
            {{ flight.source }} → {{ flight.destination }}
        </p>

        <p>
            Departure:
            {{ flight.departure_time }}
        </p>

        <p>
            Arrival:
            {{ flight.arrival_time }}
        </p>

        <p>Price: ₹{{ flight.price }}</p>

        <a href="/book/{{ flight.id }}/"
           style="
           display:inline-block;
           margin-top:15px;
           padding:10px 20px;
           background:black;
           color:white;
           text-decoration:none;
           border-radius:10px;
           ">

           Book Now

        </a>

    </div>

    {% endfor %}

</div>

{% endblock %}